
 /*
paleta{
    color: #01c5c4 ; //Verde Obscuro
    color: #b8de6f; //Verde claro
    color: #f1e189; // Amarillo
    color: #f39233; // Naranja
}
*/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    background-origin: border-box;
}
body{
    font-size: 16px;
    font-family: sans-serif;
}
header{
    width: 100%;
    background-color:#01c5c4;
    color: white;
    font-size: 1rem;
    padding: 0.6rem;
}
header>a{
    color: white;
    text-decoration: none;
    cursor: pointer;
}
header>a:hover{
    color: #f1e189;
}
h1{
    color: blue;
    font-size: 3rem;
    display: inline;
}
main{
    background-color: green;
    width: 100vw;
    min-height: 100vh;
}