/* paleta ********************************************************
    color: #01c5c4 ; //Verde Obscuro
    color: #b8de6f; //Verde claro
    color: #f1e189; // Amarillo
    color: #f39233; // Naranja
/***************************************************************/

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffc107;
    background: url("../img/fondo.png") no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    font-size: 16px;
    height: 100vh;
  }
  header{
      width: 100%;
      font-size: 1.2rem;
      background-color: #01c5c4;
      color: white;
      padding: 0.5rem;
  }
  /*****************************/
  .oculto{
      display: none;
  }
  .nombre:hover, .link:hover {
      color: #f1e189;
      cursor: pointer;
  }
  .link{
      text-decoration: none;
      color: white;
      margin: 0 1rem;
      border-left: 0.3rem solid white;
      padding: 0 1rem;
  }
  /*******************/
  .login-box{
    width: 320px;
    height: auto;
    background:#01c5c4;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 1.5rem; 
    border-radius: 1.2rem;
  }
  .login-box h2 {
    text-align: center;
    font-size: 1.5rem;
    margin: 0 0 1.5rem 0;
  }
  .button{
      display: block;
      width: 90%;
      background-color: #b8de6f ;
      color: black;
      padding: 0.5rem;
      margin: 1rem 0;
      border-radius: 1rem;
      text-decoration: none;
      font-size: 1.2rem;
      text-align: center;
  }
  .button:hover{
      background-color: #f1e189;
  }
  .pagina-tiendita{
      width: 80%;
      min-height: 90vh;
      background-color: rgba(255, 255, 255, 0.80);
      box-shadow: 0px 0px 20px rgba(0,0,0,0.7);
      margin: 0.5rem auto 0 ;
      border-radius: 0.5rem;
  }
  .msj{
      padding: 0.2rem;
      text-align: center;
      font-size: 1.3rem;
      background-color: red;
      color: white;
  }
 